// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "bcm2837.dtsi"
#include "bcm2835-rpi.dtsi"
#include "bcm283x-rpi-smsc9514.dtsi"
#include "bcm283x-rpi-usb-host.dtsi"

/ {
	compatible = "raspberrypi,3-model-b", "brcm,bcm2837";
	model = "Raspberry Pi 3 Model B";

	chosen {
		/* 8250 auxiliary UART instead of pl011 */
		stdout-path = "serial1:115200n8";
	};

	memory {
		reg = <0 0x40000000>;
	};

	leds {
		act {
			gpios = <&expgpio 2 GPIO_ACTIVE_HIGH>;
		};
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&expgpio 1 GPIO_ACTIVE_LOW>;
	};

	soc {
		vdd_3v3_reg: fixedregulator_3v3 {
			compatible = "regulator-fixed";
			regulator-name = "3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	sound {
		compatible = "audio-graph-card";
		label = "PCM5122 graph";
		dais = <&cpu_port>;
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&audio_amplifier_pins>;
		pa-gpios = <&gpio 4 0>;

		widgets = "Speaker", "Speaker Out Jack";

		routing =
			"Amplifier", "OUTL",
			"Amplifier", "OUTR",

			"Speaker Out Jack", "Amplifier";
	};
};

&firmware {
	expgpio: gpio {
		compatible = "raspberrypi,firmware-gpio";
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "BT_ON",
				  "WL_ON",
				  "STATUS_LED",
				  "LAN_RUN",
				  "HPD_N",
				  "CAM_GPIO0",
				  "CAM_GPIO1",
				  "PWR_LOW_N";
		status = "okay";
	};
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_gpio40 &pwm1_gpio41>;
	status = "okay";
};

&hdmi {
	hpd-gpios = <&expgpio 4 GPIO_ACTIVE_LOW>;
};

&gpio {
	audio_amplifier_pins: audio_amplifier_pins {
		brcm,pins = <4>;
		brcm,function = <1>;    // out
	};
};

&alt0 {
	brcm,pins = <5 7 8 9 10 11>;
};

&i2s {
	#sound-dai-cells = <0>;
	reg = <0x7e203000 0x24>;
	clocks = <&clocks BCM2835_CLOCK_PCM>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcm_gpio18>;
	status = "okay";

	cpu_port: port {
		cpu_endpoint: endpoint {
			remote-endpoint = <&codec_endpoint>;
			dai-format = "i2s";
		};
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status	= "okay";

	pcm5122@4c {
		#sound-dai-cells = <0>;
		compatible = "ti,pcm5122";
		reg = <0x4c>;
		AVDD-supply = <&vdd_3v3_reg>;
		DVDD-supply = <&vdd_3v3_reg>;
		CPVDD-supply = <&vdd_3v3_reg>;
		status = "okay";

		port {
			codec_endpoint: endpoint {
				remote-endpoint = <&cpu_endpoint>;
			};
		};
	};
};

/* uart0 communicates with the BT module */
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_gpio32 &gpclk2_gpio43>;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		max-speed = <2000000>;
		shutdown-gpios = <&expgpio 0 GPIO_ACTIVE_HIGH>;
	};
};

/* uart1 is mapped to the pin header */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_gpio14>;
	status = "okay";
};

/* SDHCI is used to control the SDIO for wireless */
&sdhci {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_gpio34>;
	status = "okay";
	bus-width = <4>;
	non-removable;
	mmc-pwrseq = <&wifi_pwrseq>;

	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

/* SDHOST is used to drive the SD card */
&sdhost {
	pinctrl-names = "default";
	pinctrl-0 = <&sdhost_gpio48>;
	status = "okay";
	bus-width = <4>;
};
